// Default mixins and settings -----------------
@use "sass:color";
@import "reveal.js/css/theme/template/mixins";
@import "reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url("https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Overpass+Mono:wght@300..700&display=swap");

$mainColor: #fff;
$headingColor: $mainColor;
$headingTextShadow: #aaa;
$backgroundColor: #000;
$linkColor: #aaaaff;
$linkColorHover: color.scale($linkColor, $lightness: 20%);
$selectionBackgroundColor: #888;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;
$headingFont: "Overpass Mono", monospace;
$heading2Size: 3.5rem;
$headingFontWeight: 800;
$headingTextTransform: none;
$mainFont: "Anaheim", sans-serif;

// Background generator
@mixin bodyBackground() {
  background: $backgroundColor;
}

// Change text colors against dark slide backgrounds
@include dark-bg-text-color($backgroundColor);

// Theme template ------------------------------
@import "reveal.js/css/theme/template/theme";
// ---------------------------------------------
